@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  width: 6px;
  background: #0B0A0A;
}

::-webkit-scrollbar-thumb{
  background: #C92127;
  border-radius: 100px;
}

.list-item {
  list-style-type: none;
  position: relative;
}

.list-item::before {
  content: "";
  position: absolute;
  left: -28px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust the width */
  height: 20px; /* Adjust the height */
  background-image: url('/check.png');
  background-size: contain;
  background-repeat: no-repeat;
}


@font-face {
  font-family: Neuropol;
  src: url("./_fonts/Neuropol.otf");
}

@font-face {
  font-family: "Clash Display";
  src: url("./_fonts/ClashDisplay-Regular.otf");
}


@layer utilities {
  .line{
    @apply inline-block h-[3px] align-middle;
  }
}
